@font-face {
    font-family: linoleo;
    src: url('../fonts/linoleo-script.regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    --main-bkg: #E5E5E5;
    --header-bkg:#D8D8D8;
    --iten-bkg: #FFE8E8;
    --lang-bkg: #666666;
    --title: #999999;
    --text: #6D6D6D;
    --contact-t: #7E7C7C;
    --contact: #2E2E2E;
    --lht: 12rem;
    --lhsbt: 9rem;
    
}